# === Ignore model checkpoints and logs ===
*.pt
*.pth
*.ckpt
*.txt
#*.bin
#*.onnx

# Allow specific text files
!requirements.txt
!LICENSE

# === Ignore local run outputs ===
__pycache__/
*.py[cod]
#*.npz
#*.npy
*.pkl
#*.h5

# === IDE / virtual environment ===
.venv/
.DS_Store
.idea/
gurobi.log
