# === Ignore model checkpoints and logs ===
*.pt
*.pth
*.ckpt
#*.bin
#*.onnx

# === Ignore local run outputs ===
__pycache__/
*.py[cod]
#*.npz
#*.npy
#*.pkl
#*.h5

# === IDE / virtual environment ===
.venv/
.DS_Store
.idea/
gurobi.log
